@Model RobotModel



<div class="row">
    <figure>
        <img src="@Model.Avatar">
    </figure>
        <div class="contact">
          <h1>@Model.Name</h1>
          <p>
          @Model.Address["city"], @Model.Address["state_or_province"] @Model.Address["postal_code"] @Model.Address["country"]
          
          @if(@Model.Job == null)
            {
                <p style="color:red">Available for Hire!</p>
            }
            else
            {
                <p>@Model.Job, @Model.Company</p>
            }
          </p>
          <p>@Model.Email</p>
        </div>
        <div class="details">
            <dl>
            <dt>Education</dt>
            <dd>@Model.University</dd>
            <dt>Skills</dt>
            @foreach(var item in Model.Skills)
            {
                <dd>@item</dd>
            }
            </dl>
        </div>
    </div>